{% comment %}
    Renders a blog nav

    Accepts:
    - blog: {Object} Blog Liquid object
	- article: {Object} Blog Article Liquid Object

    Usage:
    {% render 'blog-sidebar' %}
{% endcomment %}

<div class="recent-blogs">
  <p>This is test text</p>
</div>