.so-tab {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 25px 0;
}
.so-tab label {
  position: relative;
  display: block;
  padding: 0 25px 0 0;
  margin-bottom: 15px;
  line-height: normal;
  cursor: pointer;
}
.so-tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.so-tab-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .35s;
}
/* :checked */
.so-tab input:checked ~ .so-tab-content {
  max-height: none;
}
/* Icon */
.so-tab label::before {
  position: relative;
  display: block;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
.so-tab input[type=checkbox] + label::before {
  content: "+";
}
.so-tab input[type=radio] + label::before {
  content: "\25BC";
}
.so-tab input[type=checkbox]:checked + label::before {
  transform: rotate(315deg);
}
.so-tab input[type=radio]:checked + label::before {
  transform: rotateX(180deg);
}