.product-grid .grid__item {
  padding-bottom: 2rem;
  background-color: rgba(var(--color-base-background-2),1);
}

.product-grid.negative-margin {
  margin-bottom: -2rem;
}

@media screen and (min-width: 750px) {
  .product-grid .grid__item {
    padding-bottom: 5rem;
  }

  .product-grid.negative-margin {
    margin-bottom: -5rem;
  }

  .product-grid.negative-margin--small {
    margin-bottom: -1rem;
  }
}

.blog-nav li {
  text-align: center;
}

.blog-nav .media.grid-4 {
}
.blog-nav .media.grid-4 .blog-4 {
  width: 50%;
  height: 50%;
}

.blog-nav .media.grid-4 .blog-4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-nav .media.grid-4 .blog-4.image-2, .blog-nav .media.grid-4 .blog-4.image-4 {
  left: 50%;
  border-left: 3px solid;
}

.blog-nav .media.grid-4 .blog-4.image-3, .blog-nav .media.grid-4 .blog-4.image-4 {
  top: 50%;
  border-top: 3px solid;
}
