@media print {

  @page {
    size: 11in 8.5in;
  }

  .header-wrapper, .product__media-icon, .product-media-modal.media-modal, .library-nav.page-width, #shopify-section-footer, .shopify-section.spaced-section {
    display: none !important;
  }

  .shopify-section.product-section.spaced-section {
    margin-top: 0;
  }

  section.page-width {
    padding:0;
  }
  
  .print-show {
    display: block !important;
  }

  .print-hidden {
    display: none;
  }

  .print-header {
    display: flex !important;
    justify-content: space-between;
    background: var(--gradient-base-accent-2);
    padding: 1em 1.5em;
    align-items: center;
  }

  h1.product__title {
    color: #fff;
    font-weight: 700;
    font-size: 3em;
    margin: 0;
  }

  .product.grid.grid--1-col {
    max-width: 100%;
    gap: 2em;
  }
  
  .grid__item.product__media-wrapper {
    max-width: 40%;
  }

  .product__info-wrapper.grid__item {
    max-width: 55%;
  }

  .product__media-list .product__modal-opener {
    border: none !important;
  }

  .grid__item.product__media-wrapper .slider-buttons {
    display: none;
  }

  .product__info-wrapper.grid__item h3 {
    font-size: 1.75em;
    font-weight: 700;
  }


}