body {
  line-height: 1.4;
}

h1.collection-hero__title {
  margin-top: 2rem;
}

.rte h3 {
  margin-bottom: .5rem;
}

.rte p {
  margin-top: 0;
}

table.pricing {
  line-height: 1.2;
}

table.pricing td {
  text-align: center;
}
  

table.pricing td:first-child, table.pricing th:first-child {
  width: 20%;
  text-align: left;
}

table.pricing td:last-child {
  text-align: center;
}
  
#AvailabilityGrid {
  margin: 3rem auto;
}

table, th, td {
  border: 1px solid rgba(0,0,0,.2);
  padding: .2rem;
  letter-spacing: -.2px;
}

table {
  empty-cells: show;
  border-collapse: collapse;
  padding-left: 0;
  padding-right: 0;
}

thead {
  background-color: #eee;
}

th:first-child {
  text-align: left;
}

table.wholesale th:first-child {
  width:25%;
  text-align: left;
}

table.wholesale th:last-child {
  width:20%;
  text-align: left;
}

table.wholesale td {
  width: 4%;
  text-align: center;
}

table.wholesale td:first-child, table.wholesale td:last-child {
  text-align: left;
}

table.wholesale-seasonal td {
  text-align: left;
  white-space: nowrap;
}

.print-head {
  display: none;
}

.image-with-text {
  margin-top:0;
  display: none;
  padding: 0;
}

.image-with-text .media {
  background: none;
}

.image-with-text__grid {
  max-width: 25%;
}

.columns2 {
  display: flex;
  justify-content: space-between;
}

.column1 {
  width: 35%;
}

.column1 td {
  width: 15%;
}

.column1 td:first-child {
  width: 70%;
}

.column2 {
  width: 60%;
}

.columns2 table {
  margin-bottom: 2rem;
}

.common-name {
  white-space: nowrap;
}

.common-name:before, .common-name:after {
  content: '"';
}





/*

@media print {
  
  .wholesale.list-view-item__variant-column, .slider-buttons.no-js-hidden.small-hide, .footer, .product__media-icon, .header-wrapper, .skip-to-content-link, #admin-bar-iframe, .print-btn, #shopify-section-announcement-bar
  {
    display: none;
  }
  
  body {
    font-size: 9pt;
    color: #000;
  }
  
  .pagebreak {
    page-break-inside: avoid;
    page-break-before: always; 
    float: none;
  }
  
  .image-with-text {
    display: block;
  }

   
  #AvailabilityGrid {
    line-height: 1.2;
  }
  
  table, th, td {
    border: 1pt solid #ddd;
  }
  
  table {
    font-size: 7pt;  
  }
  
  thead {
    display: table-header-group;
    font-size: 7pt;
  }
  
  table.wholesale td:last-child, table.wholesale thead {
    font-size: 6pt;
  }
  
  .print-head {
    display: block;
  }
  
  table.wholesale {
    width: 100%;
  }
  
  table.wholesale td:last-child {
    font-size: 80%;
  }
}

*/