@media print {
  
  .product.grid.grid--1-col.grid--2-col-tablet {
    flex-wrap: nowrap;
  }
  
  .product__media-list.grid.grid--peek.list-unstyled.slider.slider--mobile {
    width: 40%;
  }
  
  h1 {
    font-size: 200%;
  }
  
  
}