#AvailabilityGrid {
  margin: 3rem auto;
}

table, th, td {
  border: 1px solid rgba(0,0,0,.2);
  text-align: left;
}

table {
  empty-cells: show;
  border-collapse: collapse;

}

th:first-child, th:last-child {
  width:25%;
}

td {
  width: 4%;
  text-align: center;
}

td:first-child, td:last-child {
  text-align: left;
}