#AvailabilityGrid {
  margin: 3rem auto;
}

table, th, td {
  border: 1px solid rgba(0,0,0,.2);
}

table {
  border-collapse: collapse;
}

th:first-child, th:last-child {
  width:20%;
}

td {
  width: 5%;
}