.print-show {
  display: none;
}

@media print {
    
  .wholesale.list-view-item__variant-column, .slider-buttons.no-js-hidden.small-hide,
  .shopify-section.spaced-section:not(:first-of-type), .footer, .header, #shopify-section-header,
  .product__media-icon, #admin-bar-iframe
  {
    display: none;
  }
  
  .spaced-section {
    margin-top: 0;
  }
  
  .product.grid.grid--1-col.grid--2-col-tablet {
    flex-wrap: nowrap;
    align-items: top;
  }
  
  .grid__item.product__media-wrapper {
    max-width: 40%;
    margin-right: 2%;

  }
  
  .product__info-wrapper.grid__item {
    width: 49%;
  }
  
  h1 {
    font-size: 300%;
    margin-top: 0;
  }
  
  h3 {
    font-size: 150%;
  }
  
  .product__description.rte {
    font-size: 150%;
    color: rgba(var(--color-foreground),1);
  }
  
  .meta-title {
    color: #7fa39c;
      }
  
  .meta-field {
    color: rgba(var(--color-foreground),1);
      }
  .print-hidden {
  	display: none;
  }
  .print-show {
  	display: block;
  }
  .print-header {
    background: #7fa39c;
    padding: 1rem;
  }
  .print-header h1 {
    margin-bottom: 0;
    color: #fff;
  }
  
  
}