<div id="AvailabilityGrid">
  <table class="avail-grid page-width">
    <tr>
      <th>Botanical</th>
      <th>Pricing</th>
      <th>2 in</th>
      <th>4 in</th>
      <th>6 in</th>
      <th>8 in</th>
      <th>1 gal</th>
      <th>2 gal</th>
      <th>5 gal</th>
      <th>10 gal</th>
      <th>15 gal</th>
      <th>25 gal+</th>
      <th>Notes/Comments</th>
    </tr>
    {%- for product in collections.wholesale-inventory.products -%}
    <tr>
      <td>{{ product.title }}</td>
	  {% for variant in product.variants %}
        {%- if variant.title == "2 in" -%}
          {%- assign flatAvail = variant.inventory_quantity | divided_by: 64 -%}
        {%- elsif variant.title == "4 in" -%}
          {%- assign flatAvail = variant.inventory_quantity | divided_by: 15 -%}
        {%- elsif variant.title == "6 in" -%}
          {%- assign flatAvail = variant.inventory_quantity | divided_by: 6  -%}
        {%- else -%}
          {%- assign flatAvail = variant.inventory_quantity -%}
        {%- endif -%}
        {%- if flatAvail < 0 -%}{%- assign flatAvail = 0 -%}{%- endif -%}
        {% if flatAvail > 0 %}
          <td>{{ flatAvail }}{% if variant.metafields.my_fields.landscape_quality %}(L){% endif %}</td>
        {% else %}
          <td>&nbsp;</td>
        {% endif %}
      {% endfor %}
    </tr>
      {%- endfor -%}
  </table>
</div>