<div id="AvailabilityGrid">
  <table class="avail-grid page-width">
    <tr>
      <th>Botanical</th>
      <th>Pricing</th>
      <th>2 in</th>
      <th>4 in</th>
      <th>6 in</th>
      <th>8 in</th>
      <th>1 gal</th>
      <th>2 gal</th>
      <th>5 gal</th>
      <th>10 gal</th>
      <th>15 gal</th>
      <th>25 gal+</th>
      <th>Notes/Comments</th>
    </tr>
    {%- for product in collections.wholesale-inventory.products -%}
    <tr>
      <td>{{ product.title }}</td>
    </tr>
      {%- endfor -%}
  </table>
</div>